
.CardsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1em;
}

.CardsArea li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 15em;
    width: 15em;
    background: darkgray;
}

.CardsArea li:hover {
    background-color: yellow;
}

.CardsArea img {
    max-width: 100%;
    max-height: 100%;
}